section.system
	.container
		h4#about.sectiontitle О системе
		.row
			.col-lg-5.offset-lg-1.col-md-6.offset-mg-0
				.system__cycle
					h3.system__cycle-title Система циклов NanoBet
					p.system__cycle-text Платформа основанная на машинном обучении и нейронной сети , которая анализирует матчи в различных видах спорта и выдает прогноз на нечетный результат матча, что приводит к постоянному заработку в беттинге.
			.col-lg-5.offset-lg-1.col-md-6.offset-mg-0
				.system__searching
					.system__searching-indicate
						img(src="img/indicate_anim.svg", alt="Индикация")
					p.system__searching-text Подождите идет процесс анализирования
					ul.system__searching-block
						li.system__searching-item
							p Подбираю матч
							.system__searching-item-check
						li.system__searching-item
							p Анализирую турнир
							.system__searching-item-check
						li.system__searching-item
							p Анализирую новостной сайт
							.system__searching-item-check
						li.system__searching-item
							p Подвожу итоги
							.system__searching-item-check
						li.system__searching-item
							p Вывожу результат на экран
							.system__searching-item-check

	