section.advantage
	.container
		h4#advantage.sectiontitle Наши преимущества
		p.advantage__text Платформа основанная на машинном обучении и нейронной сети , которая анализирует матчи в различных видах спорта и выдает прогноз на нечетный результат матча, что приводит к постоянному заработку в беттинге.
		.row
			.col-lg-3.col-md-6.col-12
				.advantage__elem
					.advantage__elem-icon
						img(src="img/mortarboard.svg", alt="Иконка")
					h5.advantage__elem-title Самообучение
					p.advantage__elem-text Платформа основанная на машинном обучении и нейронной сети , которая анализирует матчи в различных видах спорта.
			.col-lg-3.col-md-6.col-12
				.advantage__elem
					.advantage__elem-icon
						img(src="img/accuracy.svg", alt="Иконка")
					h5.advantage__elem-title Точность прогнозов
					p.advantage__elem-text Платформа основанная на машинном обучении и нейронной сети , которая анализирует матчи в различных видах спорта.
			.col-lg-3.col-md-6.col-12
				.advantage__elem
					.advantage__elem-icon
						img(src="img/artificial_intelligence.svg", alt="Иконка")
					h5.advantage__elem-title Нейронная сеть
					p.advantage__elem-text Платформа основанная на машинном обучении и нейронной сети , которая анализирует матчи в различных видах спорта.
			.col-lg-3.col-md-6.col-12
				.advantage__elem
					.advantage__elem-icon
						img(src="img/money_bag.svg", alt="Иконка")
					h5.advantage__elem-title Высокий доход
					p.advantage__elem-text Платформа основанная на машинном обучении и нейронной сети , которая анализирует матчи в различных видах спорта.