footer.footer
	.container
		.row
			.col
				.footer__box
					h2.footer__title Присоединяйся к нанобет!
					button.button(type="submit") Присоединяйся
					ul.footer__social
						li.footer__icon
							a.footer__icon-link.telegram(href="#")
								img(src="img/telegram.svg" alt="Telegram")
						li.footer__icon
							a.footer__icon-link.vk(href="#")
								img(src="img/vk.svg" alt="VK")
						li.footer__icon
							a.footer__icon-link.facebook(href="#")
								img(src="img/face.svg" alt="Facebook")
					p.footer__text Copyright © 2019 «НаноБет».<br>Все права защищены и охраняются законом. 