footer.mainfooter
	.mainfooter__box
		.mainfooter__logo
			a.mainfooter__logo-link(href="main.html")
					img.img-responsive(src="img/icons/logo-black.svg", alt="Логотип")
		p.mainfooter__text Copyright © 2019 «НаноБет».<br>Все права защищены и охраняются законом. 
		ul.mainfooter__social
			li.mainfooter__icon
				a.mainfooter__icon-link.telegram(href="#")
					img(src="img/telegram.svg" alt="Telegram")
			li.mainfooter__icon
				a.mainfooter__icon-link.instagram(href="#")
					img(src="img/icons/instagram2.svg" alt="Instagtam")
			li.mainfooter__icon
				a.mainfooter__icon-link.youtube(href="#")
					img(src="img/icons/youtube-logo.svg" alt="Youtube")
					