
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="footer__box">
          <h2 class="footer__title">Присоединяйся к нанобет!</h2>
          <button class="button" type="submit">Присоединяйся</button>
          <ul class="footer__social">
            <li class="footer__icon"><a class="footer__icon-link telegram" href="#"><img src="img/telegram.svg" alt="Telegram"/></a></li>
            <li class="footer__icon"><a class="footer__icon-link vk" href="#"><img src="img/vk.svg" alt="VK"/></a></li>
            <li class="footer__icon"><a class="footer__icon-link facebook" href="#"><img src="img/face.svg" alt="Facebook"/></a></li>
          </ul>
          <p class="footer__text">Copyright © 2019 «НаноБет».<br>Все права защищены и охраняются законом. </p>
        </div>
      </div>
    </div>
  </div>
</footer>