doctype html
html(lang='ru')
	head
		include layout/head.pug
		block title
			title Account
	body

		//PRELOADER
		//include layout/preloader.pug

		//HEADER
		include layout/mainheader.pug

		//ACCOUNTCONTENT
		include layout/accountcontent.pug

		//FOOTER
		include layout/mainfooter.pug

		//SCRIPT
		include layout/scripts.pug