doctype html
html(lang='ru')
	head
		include layout/head.pug
		block title
			title Analize
	body

		//PRELOADER
		//include layout/preloader.pug

		//HEADER
		include layout/analizeheader.pug

		//ANALIZECONTENT
		include layout/analizecontent.pug

		//FOOTER
		include layout/mainfooter.pug

		//SCRIPT
		include layout/scripts.pug