doctype html
html(lang='ru')
	head
		include layout/head.pug
		block title
			title Nanobet
	body

		//PRELOADER
		include layout/preloader.pug

		//HEADER
		include layout/header.pug

		//ABOUTSYSTEM
		include layout/aboutsystem.pug

		//ADVANTAGE
		include layout/advantage.pug

		//INCOME
		include layout/income.pug

		//FOOTER
		include layout/footer.pug

		//SCRIPT
		include layout/scripts.pug



	